@import url(https://fonts.googleapis.com/css?family=sans-serif);

body {
  max-width: 1200px;
  width: 800px;
  margin: 0 auto;
}

.controls {
  background: #607d8b;
  margin-top: 20px;
  padding-left: 30%;
}

#stopwatch {
  background: #607d8b;
  font-family: sans-serif;
  font-size: 40px;
  color: #fff;
  padding-left: 40%;
}

button {
  background: #607d8b
  font-family: sans-serif;
  border: none;
  font-size: 40px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

button:hover {
  background: #1284bd;
  cursor: pointer;
}
